

*{

  margin: 0px;
  padding: 0px;

}

html ,body{

box-sizing: border-box;
height: 100%;
}




.quizz-con{

background-color: purple;
padding: 32px;
width: 70%;

margin: 0px auto;

}


#root{

height: 100%;
padding: 16px;
}


@media only screen and (max-width: 600px) {



.next{


  font-size: 12px;

}


.submit{

  font-size: 12px;

}

.quizz-con{

background-color: purple;
padding: 16px;
width: 100%;
box-sizing: border-box;

margin: 0px;

}


h2{
  font-size: 16px;
}
h1{
  font-size: 18px;
}

h4{
  font-size: 12px;
}

#root{

height: 100%;
padding: 4px;
}



}

